<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru-RU"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="О нас">
    <meta name="description" content="">
    <title>О нас</title>
    <link rel="stylesheet" href="/css/main.css" media="screen">
<link rel="stylesheet" href="/css/О-нас.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/main.js" defer=""></script>
    <meta name="generator" content="LotusBlore, lotusBlore.com">
    <link rel="icon" href="/images/favicon.jpg">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "LotusBlore"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="О нас">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="ru"><header class="u-clearfix u-custom-color-6 u-header u-sticky u-sticky-8799 u-header" id="sec-0794" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-left u-font-size-14 u-menu u-menu-one-level u-menu-open-right u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-effect-duration u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-25 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="/" style="padding: 10px 0px;">Главная</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="valorant" style="padding: 10px 0px;">Valorant</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="contact" style="padding: 10px 0px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="about" style="padding: 10px 0px;">О нас</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="witchus" style="padding: 10px 0px;">Связаться с нами</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-custom-font u-nav u-popupmenu-items u-spacing-1 u-text-font u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="valorant">Valorant</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="about">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="witchus">Связаться с нами</a>
</li></ul>
              </div>
            </div>
            <div class="u-menu-overlay"></div>
          </div>
        </nav>
        <h3 class="u-text u-text-default u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-3 u-btn-1" data-href="/" href="/">LotusBlore</a>
        </h3>
      </div></header>
    <section class="u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-grey-80 u-section-1" id="sec-2bc0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="484" data-image-height="484"></div>
                </div>
              </div>
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom-xs u-container-layout-2">
                  <h2 class="u-align-left u-text u-text-default u-text-1">О нас</h2>
                  <p class="u-align-left u-text u-text-2"> Мы - команда энтузиастов, предлагаем вам погрузиться в захватывающий мир онлайн-игр. Наши страницы наполнены увлекательным контентом о самых горячих играх современности, включая такие хиты, как Valorant, Overwatch, и многие другие.<br>Мы стремимся быть вашим надежным источником информации о последних новинках игровой индустрии, профессиональных советах и руководствах, а также интересных обзорах и аналитике.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-border-2 u-border-custom-color-6 u-border-no-bottom u-clearfix u-footer u-grey-80 u-footer" id="sec-f9be"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">&nbsp;| LotusBlore Games and OOP Inc​ |&nbsp;<br>2024
        </p>
      </div></footer>
  
</body></html>