<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru-RU"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="LotusBlore Games​, Valorant​">
    <meta name="description" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/main.css" media="screen">
<link rel="stylesheet" href="/css/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/main.js" defer=""></script>
    <meta name="generator" content="LotusBlore 6.6.3, LotusBlore.com">
    <link rel="icon" href="/images/favicon.jpg">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "LotusBlore"
}</script>

  <script>
    const express = require('express');
  </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-overlap u-overlap-contrast u-overlap-transparent u-xl-mode" data-lang="ru"><header class="u-clearfix u-custom-color-6 u-header u-sticky u-sticky-8799 u-header" id="sec-0794" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-left u-font-size-14 u-menu u-menu-one-level u-menu-open-right u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-effect-duration u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-25 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="/" style="padding: 10px 0px;">Главная</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="valorant" style="padding: 10px 0px;">Valorant</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="contact" style="padding: 10px 0px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="about" style="padding: 10px 0px;">О нас</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="witchus" style="padding: 10px 0px;">Связаться с нами</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-custom-font u-nav u-popupmenu-items u-spacing-1 u-text-font u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="valorant">Valorant</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="about">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="witchus">Связаться с нами</a>
</li></ul>
              </div>
            </div>
            <div class="u-menu-overlay"></div>
          </div>
        </nav>
        <h3 class="u-text u-text-default u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-3 u-btn-1" data-href="/" href="/">LotusBlore</a>
        </h3>
      </div>
      </div>
    </header>
    <section class="skrollable u-align-center u-clearfix u-image u-shading u-section-1" id="sec-45f3" data-image-width="1280" data-image-height="720">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-title u-text-1">LotusBlore </h1>
        <p class="u-align-center u-large-text u-text u-text-variant u-text-2"> The best materials from various games</p>
        <br>
        <br>
        <br>
        <div class="body2">
          <!-- Консоль -->
         <div class="typed-strings">
             <span class="span-text-1">LotusBlore</span>
             <span class="span-text-2">Игровой контент.</span>
             <span class="span-text-2">Привет, мир!</span>
             <span class="span-text-2">Hello, World!</span>
         </div>
         
          <div class="header">
            <div class="head-wrap shift-text">
                <div class="text-editor-wrap">
                    <div class="title-bar"><span class="title">Ubuntu<span class="terminal-height"></span></span></div>
                    <div class="text-body">
                        <span style="color: springgreen;">$</span> <span id="typed"></span><span class="typed-cursor"></span>
                    </div>
                </div>
            </div>
          </div>

         <br>
        <br>
        <br>
      </div>
      </div>
    </section>
    <style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
transparency: 0 !important
}</style>
    

  
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var typed = new Typed('#typed', {
            stringsElement: '.typed-strings',
            typeSpeed: 50,
            backSpeed: 30,
            loop: true
        });
    });

    // Функция для перетаскивания окна терминала
    function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            elmnt.querySelector('.title-bar').onmousedown = dragMouseDown;

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // получите позицию курсора при запуске:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // вызывайте функцию, когда курсор двигается:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // вычислите разницу в позиции курсора:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // установите новую позицию:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                // прекратить перетаскивание при отпускании кнопки мыши:
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

        // Запуск функции при загрузке документа
        document.addEventListener('DOMContentLoaded', function() {
            var terminal = document.querySelector('.text-editor-wrap');
            dragElement(terminal);
        });
  </script>

      <style>
        .text-editor-wrap {
          position: absolute;
          display: block;
          margin: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          

          max-width: 300px;
          min-width: 300px;
          max-height: 150px;
          min-height: 150px;

          background-color: rgba(0, 0, 0, 0.85);
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;

          color: #f0f0f0;

          font-family: "Ubuntu", sans-serif;
          overflow: hidden;
          clear: both;

          -webkit-transition: all 0s ease-out;
          -moz-transition: all 0s ease-out;
          -ms-transition: all 0s ease-out;
          -o-transition: all 0s ease-out; 
          transition: all 0s ease-out;

          z-index: 1000;
          user-select: none;
        }

        .title-bar {
          padding: 5px 0;
          font-family: "Ubuntu", sans-serif;
          font-size: 0.75em;
          text-align: center;
          text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
          background-color: #f8f8f8;
          background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
          background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
          background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
          box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
          border-bottom: #6a6a6a 1px solid;
        }

      .title {
        color: red;
        font-size: 14px;
      }

      .head-wrap {
        /* margin: 30px auto 30px;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out; */
        transition: all 0.5s ease-out;
        text-align: center;
      }

      .text-body {
        height: 250px;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 10px;
        color: #f0f0f0;
        text-shadow: #000 0px 1px 0px;
        font-family: "Consolas", "Courier New", "Courier";
        font-size: 1.45em;
        line-height: 1.40em;
        font-weight: 500;
        text-align: left;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
      }

      .body2 {
        font-family: "Ubuntu", sans-serif;
        font-size: 100%;
        display: block;
        
      }

      </style>
    </div>
    



    <footer class="u-align-center u-border-2 u-border-custom-color-6 u-border-no-bottom u-clearfix u-footer u-grey-80 u-footer" id="sec-f9be"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">&nbsp;| LotusBlore Games and OOP Inc​ |&nbsp;<br>2024
        </p>
      </div></footer>
  
</body></html>
