<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru-RU"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Связаться с нами</title>
    <link rel="stylesheet" href="/css/main.css" media="screen">
<link rel="stylesheet" href="/css/Связаться-с-нами.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/main.js" defer=""></script>
    <meta name="generator" content="LotusBlore, lotusBlore.com">
    <meta name="referrer" content="origin">
    <link rel="icon" href="/images/favicon.jpg">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "LotusBlore"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Связаться с нами">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <script>
    function gdprConfirmed() {
        return true;
    }
    function dynamicLoadScript(src) {
        var script = document.createElement('script');
        script.src = src && typeof src === 'string' ? src : 'https://www.google.com/recaptcha/api.js?render=6LcGHaMpAAAAANVvWSSJpmLov_wo1WSc7SV8jDb0';
        script.async = true;
        document.body.appendChild(script);
        script.onload = function() {
            let event = new CustomEvent("recaptchaLoaded");
            document.dispatchEvent(event);
        };
    }
    document.addEventListener('DOMContentLoaded', function () {
        var confirmButton = document.querySelector('.u-cookies-consent .u-button-confirm');
        if (confirmButton) {
            confirmButton.onclick = dynamicLoadScript;
        }
    });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            if (!gdprConfirmed()) {
                return;
            }
            dynamicLoadScript();
        });
    </script>
    <script>
        document.addEventListener("recaptchaLoaded", function() {
            if (!gdprConfirmed()) {
                return;
            }
            (function (grecaptcha, sitekey, actions) {
                var recaptcha = {
                    execute: function (action, submitFormCb) {
                        try {
                            grecaptcha.execute(
                                sitekey,
                                {action: action}
                            ).then(function (token) {
                                var forms = document.getElementsByTagName('form');

                                for (var i = 0; i < forms.length; i++) {
                                    var fields = forms[i].getElementsByTagName('input');

                                    for (var j = 0; j < fields.length; j++) {
                                        var field = fields[j];

                                        if ('recaptchaResponse' === field.getAttribute('name')) {
                                            field.setAttribute('value', token);
                                            break;
                                        }
                                    }
                                }
                                submitFormCb();
                            });
                        } catch (e) {
                            var formError = document.querySelector('.u-form-send-error');

                            if (formError) {
                                formError.innerText = 'Неверный владелец сайта: ' + e.message.replace(/:[\s\S]*/, '');
                                formError.style.display = 'block';
                            }
                        }
                    },

                    executeContact: function (submitFormCb) {
                        recaptcha.execute(actions['contact'], submitFormCb);
                    }
                };

                window.recaptchaObject = recaptcha;
            })(
                grecaptcha,
                
                '6LcGHaMpAAAAANVvWSSJpmLov_wo1WSc7SV8jDb0',
                {'contact': 'contact'}
            );
        });
    </script>
<meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="ru"><header class="u-clearfix u-custom-color-6 u-header u-sticky u-sticky-8799 u-header" id="sec-0794" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-left u-font-size-14 u-menu u-menu-one-level u-menu-open-right u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-effect-duration u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-25 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="/" style="padding: 10px 0px;">Главная</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="valorant" style="padding: 10px 0px;">Valorant</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="contact" style="padding: 10px 0px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="about" style="padding: 10px 0px;">О нас</a>
</li><li class="u-nav-item"><a class="u-border-active-custom-color-1 u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-custom-color-5 u-text-hover-custom-color-4" href="witchus" style="padding: 10px 0px;">Связаться с нами</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-custom-font u-nav u-popupmenu-items u-spacing-1 u-text-font u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="valorant">Valorant</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="contact">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="about">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="witchus">Связаться с нами</a>
</li></ul>
              </div>
            </div>
            <div class="u-menu-overlay"></div>
          </div>
        </nav>
        <h3 class="u-text u-text-default u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-custom-color-3 u-btn-1" data-href="/" href="/">LotusBlore</a>
        </h3>
      </div></header>
    <section class="u-align-center u-clearfix u-grey-80 u-section-1" id="sec-e620">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1"> Связаться с нами</h2>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
            <div class="u-form-group u-form-name u-label-top">
              <label for="name-3b9a" class="u-label">Имя</label>
              <input type="text" placeholder="Введите ваше имя" id="name-3b9a" name="name" class="u-input u-input-rectangle u-radius u-input-1" required="">
            </div>
            <div class="u-form-email u-form-group u-label-top">
              <label for="email-3b9a" class="u-label">Почта</label>
              <input type="email" placeholder="Введите электронную почту" id="email-3b9a" name="email" class="u-input u-input-rectangle u-radius u-input-2" required="">
            </div>
            <div class="u-form-group u-form-message u-label-top">
              <label for="message-3b9a" class="u-label">Сообщение</label>
              <textarea placeholder="​Введите сообщение" rows="4" cols="50" id="message-3b9a" name="message" class="u-input u-input-rectangle u-radius u-input-3" required="" maxlength="80"></textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-top">
              <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius u-btn-1">Отправить<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">Спасибо! Ваше сообщение было отправлено.</div>
            <div class="u-form-send-error u-form-send-message">Не удалось отправить ваше сообщение. Пожалуйста, исправьте ошибки и повторите попытку.</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="bb2a006a-a641-3cdd-5752-f4846b4e27e8">
            <input type="hidden" name="siteKey" value="6LcGHaMpAAAAANVvWSSJpmLov_wo1WSc7SV8jDb0">
          </form>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-border-2 u-border-custom-color-6 u-border-no-bottom u-clearfix u-footer u-grey-80 u-footer" id="sec-f9be"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">&nbsp;| LotusBlore Games and OOP Inc​ |&nbsp;<br>2024
        </p>
      </div></footer>
  
</body></html>