 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("/images/6243378.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-text-1 {
  margin: 250px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 43px auto -33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 2.5%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50.96% 57.18%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}